# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Entornos virtuales
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Archivos locales que no querés subir
_cache/
datos.txt
*.bak